<div class="container col col-sm-6">
  <h1>Regístrate</h1>
  <form action="/signup" method="POST" enctype="multipart/form-data">
    <div class="form-group">
      <label for="username">User Name</label>
      <input type="text" class="form-control" id="username" name="username" placeholder="Enter username" required>
      <small id="nameHelp" class="form-text text-muted">Your username must be unique.</small>
      <input class="form-control" placeholder="Nombre" type="text" name="firstName">
        <input class="form-control" placeholder="Apellido" type="text" name="lastName">
        <input class="form-control"  placeholder="Email" name="email" type="email" required>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
    </div>

    <div class="form-group">
      <input class="form-control"value="birth" placeholder="Nacimiento" name="birth" type="date" >
        <label for="gender">Genero</label>
        <select name="gender"class="form-control">
          <option value="Hombre">Hombre</option>
          <option value="Mujer">Mujer</option>
          <option value="N/A">Prefiero no decir</option>
       </select><br>

        <div class="form-group">
          <label for="profile">Profile Picture</label>
          <input type="file" name="photo" class="form-control" required>
        </div>
      
    </div>
    <button type="submit"  value="SAVE" class="btn btn-primary">Sign up</button>
    <a href="/" class="btn btn-danger">Cancel</a>

    <a class="google-btn" href="/google">Google+</a>
  </form>
</div>

{{!-- 
<div class="container col col-sm-6">
  <form action="/signup" method="POST">
    <div class="form-group">
      <label for="username">User Name</label>
      <input type="text" class="form-control" id="username" name="username" placeholder="Enter username" required>
      <small id="nameHelp" class="form-text text-muted">Your username must be unique.</small>
       <input class="form-control" placeholder="Nombre" type="text" name="firstName">
        <input class="form-control" placeholder="Apellido" type="text" name="lastName">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
    </div>
    <button type="submit" class="btn btn-primary">Sign up</button>
  </form>
</div> --}}