<div class="panel panel-success">
  <div class="panel-heading">Trabajo de modulo 2 Iron hack</div>
  <div class="panel-body">
    <section>
        <h1>Salvador E. Juarez </h1>
        <h1>Hugo Sanchez</h1>
    </section>
  </div>
</div>

<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Patrocinad por IronHack</h3>
  </div>
  <div class="panel-body">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem voluptates ullam esse repudiandae qui! Eos corrupti, porro, quasi amet, voluptatibus perferendis libero nobis minima consequatur excepturi facilis ullam culpa nam!</p>
  </div>
</div>