<div class="container col col-sm-8">
  {{!--
  <h1>{{title}}</h1> --}} {{#if user}}
  <h3>Bienvenido seas guerrero de la urbe {{user.username}}</h3>
  {{!--
  <a href="/private-page" class="btn-danger btn">Pagina de perfil</a> --}} {{/if}}
</div>
<div class="container">
  <div class="row">
{{#each Stand}}

    {{> cards this}}
  
{{/each}}
</div>
</div>