<section>
  <h2>La guerra es aqui y ahora </h2>
  <div class="show-stands">

 <div class="container">
      <div class="row">
    {{#each food}}
        {{> cards this}}
    {{/each}}
     </div>
    </div>
</section>