<section>
    <h2>La guerra es aqui y ahora </h2>
    <div class="show-stands">
        {{#each food}}
        <div class="stand-container">
            <header class="stand-header">
                <img  class="img-stand" src="{{this.imgPath}}" alt="stands" width="100">
                <p>{{this.name}}</p>
                 <a href="/foodStand/{{this.id}}">ver detalles</a>
            </header>
        </div>
        {{/each}}
   
    </div>
</section>