
<h1>DISPARA TU MEJOR LUGAR DEL BARRIO</h1>
<div class="user">
    {{#if user}}
    <h1>Guerrero Urbano: {{user.username}}</h1>

    {{/if}}
</div>

<div class="newStand">
    <form  class="form-control" action="/newFoodStand" method="POST" enctype="multipart/form-data">
        <input  class="form-control"type="text" name="name" id="standName" placeholder="Nombre del Lugar">
       
        <textarea  class="form-control" name="description" id="description" cols="30" rows="10" placeholder="Descripcion"></textarea>
        <br>
        <div id="mapholder"></div>
        <input type="hidden" name='lat' id="lat">
        <input type="hidden" name="lng" id="lng">
        <select class="form-control" name="category" id="category">
            <option value="Tacos">Tacos</option>
            <option value="Tortas">Tortas</option>
            <option value="Hamburguesas">Hamburguesas</option>
            <option value="Hotdogs">Hotdogs</option>
            <option value="Pizzas">Pizza</option>
            <option value="Quesadilla">Quesadilla</option>
            <option value="Pambazos">Pambazos</option>
        </select>
         <h2>Inmortaliza ese bello lugar lleno de grasa y tomale una foto</h2>
      <br>
      <input type="file" name="photo" value="uploadPic">
      <button id="button" type="submit" value="savePlace">GUARDAR LUGAR</button>
      <br>
      * Informacion requerida
    </form>
</div>

 <script type="text/javascript" src='/javascripts/maps.js'></script>

 