

<h1>DISPARA TU MEJOR LUGAR DEL BARRIO</h1>
<div class="user">
    {{#if user}}
    <h1>Guerrero Urbano: {{user.username}}</h1>
    {{/if}}
</div>

<div class="newStand">
    <form  class="form-control" action="/newFoodStand" method="POST" enctype="multipart/form-data">
        Nombre:
        <input  class="form-control"type="text" name="name" id="standName" placeholder="Nombre del Lugar">
        Descripcion:
        <textarea  class="form-control" name="description" id="description" cols="30" rows="10" placeholder="Descripcion"></textarea>
        
        <br>
        <div id="mapInfo">
                    Address:
                <input class="form-control" type="text"  required name="address" id="address">
                <input type="hidden" name='latitude'   id="lat">
                <input type="hidden" name="longitude"  id="lng">
                <br>
        </div>
         <div id="map"></div>
        <select class="form-control" name="category" id="category">
            <option value="Tacos">Tacos</option>
            <option value="Tortas">Tortas</option>
            <option value="Hamburguesas">Hamburguesas</option>
            <option value="Hotdogs">Hotdogs</option>
            <option value="Pizzas">Pizza</option>
            <option value="Quesadillas">Quesadillas</option>
            <option value="Pambazos">Pambazos</option>
            <option value="Chilakillers">Chilakillers</option>
            <option value="Otro">Otro</option>
        </select>
         <h2>Inmortaliza ese bello lugar lleno de grasa y tomale una foto</h2>
      <br>
      <input type="file" name="photo" value="uploadPic" />
      <br>
        {{#if message}}
      <button id="button" type="submit">GUARDAR LUGAR</button>
    
        <p>{{message}}</p>
      {{/if}}
      <br>
    </form>
</div>


 <script    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-14hVewjP3BDtGFfOsy36obNYblwSapk&libraries=places"></script>
 <script type="text/javascript" src='/javascripts/mapw3.js'></script>
